// @import "~milligram/src/Color";
// @import "~milligram/src/Base";
// @import "~lib/fade/fadeByTransition";
// @import "~lib/hide/hide";
// @import "~lib/features";

@import "foo";

$color: red;
h1 {
  margin: 10px 20px 10px 20px;
  color: $color;
  user-select: none;
  -webkit-user-select:none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
