<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="format-detection" content="telephone=no">
</head>
<body style="margin: 0">
  <h1><%= 'Hello World' %></h1>
  <img src="<%= require('res/foo.png') %>" alt="">
  <img src="<%= require('res/bar.png') %>" alt="">
  <%= require('./foo.svg?raw') %>
</body>
</html>
