<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><%= 'Hello World' %></h1>
  <img src="<%= require('./foo.png') %>" alt="">
  <img src="<%= require('./bar.png') %>" alt="">
  <%= require('./foo.svg') %>
</body>
</html>
