<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="format-detection" content="telephone=no">
  <%if (process.env.BUILD_ENV !== 'production') { %>
  <script>
    if (location.hash.match(/debug/)) {
      var jsSrc = "https://cdn.bootcss.com/vConsole/3.3.0/vconsole.min.js";
      loadJS(jsSrc, function () {
        var vConsole = new VConsole();
      })
    }

    function loadJS(src, callback) {
      var sTag = document.createElement( 'script' );
      sTag.src = src;
      var first = document.getElementsByTagName('script')[0];
      first.parentNode.insertBefore(sTag, first);
      sTag.onreadystatechange = sTag.onload = function () {
        var state = sTag.readyState;
        if (!state || /loaded|complete/.test(state)) return;
        callback();
      }
    }
  </script>
  <%}%>
</head>
<body>
  <div class="main">
    <canvas></canvas>
  </div>
  <script>
    // (function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();document.body.appendChild(stats.dom);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='//mrdoob.github.io/stats.js/build/stats.min.js';document.head.appendChild(script);})()
  </script>
</body>
</html>

